html {
    background-color:#123c69;
    width:100%;
}

body {
    background-color: #FFF;;
}

div .collapse {
    border-bottom: 2px solid #123C69;
}
.nav-img {
    width: 120px;

    float:left;
}
.jumbotron {
    background-image: linear-gradient(rgba(238,226,220, 0.5) 25%, #FFF);

    /*    background-image: linear-gradient(#edc7b7, #eee2dc);*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.jumbotron .container {
    color:#AC3B61;
    font-family: 'Playfair Display', serif;
    width: 87%;
    font-weight: bolder;
}
.jumbotron h1 {
    font-size: 72px;
    font-weight: bolder;
    font-family: 'Rock Salt', cursive;
}
.jumbotron p {
    color: #123c69;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-top: 60px;
}
.jumbotron p #bold {
    font-weight: bolder;
}
.jumbotron .jumbo-image img {
    height: 500px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: 5px solid #AC3B61;
}
.click1 {
    background-color:#337ab7!important;
    background-image: none;
    border: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.click1:hover {
    background-color:#123c69!important;
    background-image: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.landing-content {
    background-color: #FFF;;
    font-family: 'Playfair Display', serif;
    padding-bottom: 35px;
}
.landing-content .row h1 {
    font-weight: normal;
    text-align: center;
    font-size: 48px;
    color: #123c69;
    padding-bottom: 30px;
    border-bottom: 2px solid #edc7b7;
}
.landing-content h2 {
    font-weight: bolder;
    color: #AC3B61;
    text-align: center;
    height: 60px;
}
.landing-content img {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}
.landing-content .row p {
    color: #000;
    font-weight: normal;
    font-size: 17px;
    text-align: justify;
}
.landing-content p a{
    text-align: center!important;
}

footer{
    height: 180px;
    bottom:0;
    margin-bottom:0;
    padding-bottom: 0;
    position: relative;
    background-color: #123c69;
    color: #FFF;
    width: 100%

}
footer p {
    text-align: center;
    padding-top: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    font-size: 20px;

}
footer p a {
    color: #EDC7B7;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    text-decoration: none;
}
footer p a:hover {
    color: #AC3B61;
    text-decoration: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.footer-content {

}
.copyright {
    font-size: 18px;
    text-align: left;
    bottom: 0;
}
footer div img {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 30px;
}
hr {
    background-color: #FFF;
    height: 5px;
}

.collapsed {
    z-index: 3;
}
.shop img{
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    float: right;
    clear: right;
    transition: 0.1s;
    -webkit-transition: 0.1s;

}
.shop img:hover {
    width:63px;
    transition: 0.1s;
    -webkit-transition: 0.1s;
}
.form-group input {
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.form-group input:hover{
    -webkit-transition: 0.1s;
    transition: 0.1s;
    border: 1px solid #AC3B61;
}

p .col-md-4, h1 .col-md-4, h2 .col-md-4 {
    padding-left: 15px;
    padding-right: 15px;
}
p {
    padding-left: 15px;
    padding-right: 15px;
}
.sort {
    width: 100%!important;

    margin-left: 0!important;
    margin-right: 0!important;
    padding:0!important;
    background-color: #AC3B61;
    height: 100px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    top:81px;
}
.sort h1 {
    padding-top: 15px;
    color: #eee2dc;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: center;
}
.sorted {
    display: inline-block;
}
.sorted p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    color: #337ab7;
}
.sorted p:hover {
    color: #fff;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.items {
    padding-top: 40px;
}
.items h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    height: 40px;
}
.items p .click2 {
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.items img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 150px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.items img:hover {
    height: 155px;
    box-shadow: 5px 5px #333;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
#bookpageimg {
    width: 300px;
    margin-left:auto;
    margin-right: auto;
}
#bookpagetitle {
    font-size: 36px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#author, #isbn, #price, #avail {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-weight: lighter;

}
#review {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: lighter;
}
#bookinfo {
    background-color: #eee2dc;
    padding-top: 60px;
    padding-bottom: 35px;
}
#bookpagedesc {
    background-color: #AC3B61;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    width: 100%;
}

#bookpagedesc .row2 h1, #bookpagedesc .desc h1 {
    text-align: center;
    color: #fff;
}
#bookpagedesc .row2 p, #bookpagedesc .desc p {
    text-align: justify;
    color: #fff;
}
div #review strong {
    text-shadow: 1px 1px #333;
}
.related {
    background-color: #123c69;
    width: 100%;
    margin: 0 auto;
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.related img {
    height: 200px;
    width:auto;
    margin: 0 auto;
    display: block;
    vertical-align: middle!important;
    margin-top: 20px;
    -webkit-transition:0.1s;
    transition:0.1s;
}
.related img:hover {
    border: 3px solid #AC3B61;
    -webkit-transition:0.1s;
    transition:0.1s;
}
.related h1 {
    text-align: center;
}
.related p {
    text-align: center!important;

    font-size: 18px!important;
}
.related .subtitle{
    padding-top: 20px!important;
}

.click2buy {
    background-color:#337ab7!important;
    background-image: none;
    border: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;

    vertical-align: middle;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    display: block;
}
.click2buy:hover {
    background-color:#123c69!important;
    background-image: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
/*.buy {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}*/
.click2add {
    background-color:#337ab7!important;
    background-image: none;
    border: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    margin-right: 15px;
    vertical-align: middle;

}
.click2add:hover {
    background-color:#123c69!important;
    background-image: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.recommend {
    background-color: #FFF;
    width:100%;
    font-family: 'Montserrat', sans-serif;
}
.recommend p {
    padding-top: 15px;
}
.recommend .bio strong {
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.recommend .bio strong:hover {
    text-shadow: 2px 2px 10px #ddd;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.recommend h1 {

    text-align: center;
    color: #AC3B61;
}
.recommend .rec h1 {
    font-size: 24px;
    text-align: left;
}



.recommend img{
    width: 208.5px;
    height: auto;
    vertical-align: middle;
    margin: auto auto;
    display: block;
    border: 5px solid #AC3B61;
}
.rec {
    border-bottom: 2px solid #AC3B61;
    padding: 15px;
    width: 100%;

    display: table;
}
.rec .bio {
    background-color: #123c69;
    height:100%;
    color: #fff;
    border: 2px solid #fff;
    vertical-align: middle;
    text-align: center!important;
    max-width: 500px;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    display: block
}
.bio-info {
    background-color: #AC3B61
}
.rec h1 {
    text-align: left;

}
.rec .bio-info h2 {
    font-size: 18px;
}
.cart-title {
    text-align: center;
}
.item1 {
    background-color: #123c69;
    margin-top: 30px;
    border: 2px solid #fff;
    color: #fff;
}
.item2 {
    background-color: #123c69;
    margin-top: 30px;
    border: 2px solid #fff;
    color: #fff;
}
.item3 {
    background-color: #123c69;
    margin-top: 30px;
    border: 2px solid #fff;
    color: #fff;
}
.item4 {
    background-color: #123c69;
    margin-top: 30px;

    border: 2px solid #fff;
    color: #fff;
}
.itempic img{
    height: 300px;
    margin: auto;
    width: auto;
    display: block;
}
.iteminfo {
    margin-top: 15px;
    text-align: right;
}
#checkout{
    margin-top: 40px;
}

#checkout img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    min-width: 208.5px;
    width: 300px;
}
.check h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #AC3B61;


}
.check h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #123c69;
}
.confirm {
    margin-top: 15px;
}
.faq {
    background-color: #123c69;
    padding-top: 40px;

}
.faq .container {
    color:#eee2dc;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
.faq h1 {
    font-size: 48px;
}
.faq h2 {
    font-size: 18px;
    color: #BD4C72;
}
.faq .question h2{
    font-size: 30px;
}
.faq .question h3 {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
}
.faq p {
    text-align: justify;
}
.question {

}
.about {
    background-color: #AC3B61;
    padding-top: 30px;
}
.about .container {
    color:#eee2dc;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
.about h1 {
    font-size: 48px;
    color: #337ab7;
}
.about h2 {
    font-size: 18px;
}
.about p {
    font-size: 16px;
}
.placeholder img{
    width: auto;
    height: 200px;
}
.placeholder {
    background-color: #eee2dc;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding-bottom: 35px;
}
.placeholder h2 {
    color: #AC3B61;
}
.placeholder img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.placeholder hr {
    background-color: #AC3B61;
}
.click3 {
    background-image: none!important;
    background-color: red;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.click3:hover {
    background-color: darkred;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
@media (max-width: 767px) {
    .sort p {
        visibility:hidden;
    }
}