html {
    background-color:#123c69;
    width:100%;
}

body {
    background-color: #FFF;;
}

div .collapse {
    border-bottom: 2px solid #123C69;
}
.nav-img {
    width: 120px;
    -webkit-transition: 0.05s;
    transition: 0.05s;
    float:left;
    background-image: none;
}
.nav-img:hover {
    opacity: 0.5;
    -webkit-transition: 0.05s;
    transition: 0.05s;
}
@media (max-width: 767px) {
    .nav-img {
        width: 110px;
        padding: 10px;
        float:left;
    }
    .jumbotron h1 {
        font-size: 50px!important;
        font-weight: bolder;
        font-family: 'Rock Salt', cursive;
        text-align: center;
    }
    .jumbotron p {
        color: #123c69;
        font-size: 24px!important;
        font-weight: normal!important;
        text-align: center;
        margin-top: 30px!important;
    }
    .jumbotron img {
        height: 300px!important;
        width: auto!important;
        margin-right: auto!important;
        margin-left: auto!important;
        display: block!important;
        border: 5px solid #AC3B61;
    }
}
.jumbotron {
    background-color: #AC3B61;
    /*    background-image: linear-gradient(#edc7b7, #eee2dc);*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.jumbotron .container {
    color:#eee2dc;
    font-family: 'Playfair Display', serif;
    width: 87%;
    font-weight: bolder;
}
.jumbotron h1 {
    font-size: 72px;
    font-weight: bolder;
    font-family: 'Rock Salt', cursive;
}
.jumbotron p {
    color: #FFF;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-top: 60px;
}
.jumbotron p #bold {
    font-weight: bolder;
}
.jumbotron img {
    height: 500px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: 5px solid #AC3B61;
}
.click1 {
    background-color:#337ab7!important;
    background-image: none;
    border: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.click1:hover {
    background-color:#123c69!important;
    background-image: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.landing-content {
    background-color: #FFF;;
    font-family: 'Playfair Display', serif;
    padding-bottom: 35px;
}
.landing-content .row h1 {
    font-weight: normal;
    text-align: center;
    font-size: 48px;
    color: #123c69;
    padding-bottom: 30px;
    border-bottom: 2px solid #edc7b7;
}
.landing-content h2 {
    font-weight: bolder;
    color: #AC3B61;
    text-align: center;
    height: 60px;
}
.landing-content img {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}
.landing-content .row p {
    color: #000;
    font-weight: normal;
    font-size: 17px;
    text-align: justify;
}
.landing-content p a{
    text-align: center!important;
}

footer{
    height: 180px;
    bottom:0;
    margin-bottom:0;
    padding-bottom: 0;
    position: relative;
    background-color: #123c69;
    color: #FFF;
    width: 100%

}
footer p {
    text-align: center;
    padding-top: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    font-size: 20px;

}
footer p a {
    color: #EDC7B7;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    text-decoration: none;
}
footer p a:hover {
    color: #AC3B61;
    text-decoration: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.footer-content {

}
.copyright {
    font-size: 18px;
    text-align: left;
    bottom: 0;
}
footer div img {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 30px;
}
hr {
    background-color: #FFF;
    height: 5px;
}

.collapsed {
    z-index: 3;
}
.shop img{
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    float: right;
    clear: right;
    transition: 0.1s;
    -webkit-transition: 0.1s;

}
.shop img:hover {
    width:63px;
    transition: 0.1s;
    -webkit-transition: 0.1s;
}
.form-group input {
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.form-group input:hover{
    -webkit-transition: 0.1s;
    transition: 0.1s;
    border: 1px solid #AC3B61;
}

p .col-md-4, h1 .col-md-4, h2 .col-md-4 {
    padding-left: 15px;
    padding-right: 15px;
}
p {
    padding-left: 15px;
    padding-right: 15px;
}
.sort {
    width: 100%!important;

    margin-left: 0!important;
    margin-right: 0!important;
    padding:0!important;
    background-color: #AC3B61;
    height: 100px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    top:81px;
}
.sort h1 {
    padding-top: 15px;
    color: #FFF;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    text-align: center;
}
.sorted {
    display: inline-block;
}
.sorted p {
    font-family: 'Playfair Display', serif;
    text-align: center;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    color: #FFF;;
}
.sorted p:hover {
    text-decoration: underline;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.items {
    padding-top: 40px;
}
.items h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    height: 40px;
}
.items p {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    color: #123C69;
}
.items p .click2 {
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.items img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 150px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.items img:hover {
    border: 5px solid #AC3B61;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.book {
    font-family: 'Playfair Display', serif;
    background-color: #AC3B61;
    padding-top: 50px;
}
.book h2 {
    font-family: 'Playfair Display', serif;
}
.book .btns {
    text-align: center;
    margin-top: 20px;
}
#bookpageimg {
    width: 300px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    vertical-align: middle;
    margin-bottom: 10px;;
    border: 5px solid #eee2dc;
}
#bookpagetitle {
    font-size: 36px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #FFF;
    font-weight: bolder;
}
#author, #isbn, #price, #avail {
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-weight: bold;
    color: #FFF;

}
.book-content {
    font-family: 'Playfair Display', serif;
    padding: 20px 0;

}
.book-content .sticky {
    position: -webkit-sticky;
    position: sticky;
    top:80px;
    background-color: #FFF;
    z-index: 5;
}
.book-content h1 {
    color: #123C69;
    font-weight: normal;
    font-size: 42px;
    background-color: #FFF;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EDC7B7;
    text-align: center;


}
.book-content p {
    color: #000;
    font-size: 16px;
    text-align: justify;
    font-weight: normal;
}
#review {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: bold;
    color: #FFF;

}
#bookinfo {
    background-color: #eee2dc;
    padding-top: 60px;
    padding-bottom: 35px;
}
#bookpagedesc {
    background-color: #AC3B61;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    width: 100%;
}

#bookpagedesc .row2 h1, #bookpagedesc .desc h1 {
    text-align: center;
    color: #fff;
}
#bookpagedesc .row2 p, #bookpagedesc .desc p {
    text-align: justify;
    color: #fff;
}
div #review strong {
    text-shadow: 1px 1px #333;
}
.related {
    background-color: #123c69;
    width: 100%;
    margin: 0 auto;
    display: block;
    font-family: 'Playfair Display', serif;
    color: #fff;
}
.related img {
    height: 200px;
    width:auto;
    margin: 0 auto;
    display: block;
    vertical-align: middle!important;
    margin-top: 20px;
    -webkit-transition:0.1s;
    transition:0.1s;
}
.related img:hover {
    border: 5px solid #AC3B61;
    -webkit-transition:0.1s;
    transition:0.1s;
}
.related h1 {
    text-align: center;
    font-weight: normal;
    font-size: 42px;
}
.related p {
    text-align: center!important;

    font-size: 18px!important;
}
.related .subtitle{
    padding-top: 20px!important;
}
.recommend {
    background-color: #FFF;
    width:100%;
    font-family: 'Playfair Display', serif;
}
.recommend .sticky {
    position: -webkit-sticky;
    position: sticky;
    top:80px;
    background-color: #FFF;
    z-index: 5;

}
@media (max-width: 767px) {
    .sort p {
        visibility:hidden;
    }
    .recommend .sticky {
        position: -webkit-sticky;
        position: sticky;
        top:94px;
        background-color: #FFF;
        z-index: 5;
    }
    .book-content .sticky {
        position: -webkit-sticky;
        position: sticky;
        top:94px;
        background-color: #FFF;
        z-index: 5;
    }
}
.recommend .bio strong {
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.recommend .bio strong:hover {
    text-shadow: 2px 2px 10px #ddd;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.recommend h1 {
    font-size: 42px;
    text-align: center;
    color: #123C69;
    font-weight: normal;
    background-color: #FFF;
    padding-bottom: 10px;
    border-bottom: 1px solid #EDC7B7;
}
.recommend .rec h1 {
    font-size: 24px;
    text-align: left;
}
.recommend img{
    width: 208.5px;
    height: auto;
    vertical-align: middle;
    margin: auto auto;
    display: block;
    border: 5px solid #AC3B61;
}
.recommend .content p {
    font-size: 16px;
    padding-top: 15px;
}
.recommend .content h2 {
    padding-left: 15px;
    font-size: 22px;
    font-weight: bolder;
    color: #AC3B61;
}
.recommend strong {
    text-shadow: 1px 1px #333;

}
.rec {
    border-bottom: 2px solid #AC3B61;
    padding: 15px;
    width: 100%;

    display: table;
}
.rec .bio {
    background-color: #123c69;
    height:100%;
    color: #fff;
    border: 2px solid #fff;
    vertical-align: middle;
    text-align: center!important;
    max-width: 500px;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: 5px solid #123C69;
}
.bio-info {
    background-color: #AC3B61
}
.rec h1 {
    text-align: left;

}
.rec .bio-info h2 {
    font-size: 24px;
    color: #FFF!important;
}
.rec .bio-info p {
    font-size: 18px;
    color: #FFF!important;
}
.cart {
    padding-top: 30px;
    background-image: linear-gradient(rgba(238,226,220, 0.5) 15%, #FFF);
}
.cart-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #AC3B61;
    font-size: 56px;
    padding-top: 15px;
    font-weight: bolder;


}
.item1 {
    background-color: #123c69;
    margin-top: 30px;
    border: 2px solid #AC3B61;
    color: #fff;
}
.item2 {
    background-color: #123c69;
    margin-top: 30px;
    border: 2px solid #AC3B61;
    color: #fff;
}
.item3 {
    background-color: #123c69;
    margin-top: 30px;
    border: 2px solid #AC3B61;
    color: #fff;
}
.item4 {
    background-color: #123c69;
    margin-top: 30px;
    border: 2px solid #AC3B61;
    color: #fff;
    margin-bottom: 20px;
}
.itempic img{
    height: 150px;

}
.iteminfo {
    margin-top: 15px;
    display: inline-block;
    font-family: 'Playfair Display', serif;

}
.remove1, .remove2, .remove3, .remove4 {
    font-family: 'Playfair Display', serif;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    margin-top: 60px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.remove1:active, .remove2:active, .remove3:active, .remove4:active {
    visibility: hidden;
    -webkit-transition: 0.1s;
    transition: 0.1s;

}
@media (max-width:767px) {
    .itempic img{
        height: 300px;
        margin: auto;
        width: auto;
        display: block;
    }
    .item1, .item2, .item3, .item4 {
        font-size: 20px;
        text-align: center;
    }
}
#checkout{
    margin-top: 40px;
}
.cart-checkout {
    background-color: #AC3B61;
    width: 100%;
    margin: 0 auto;
    display: block;
    font-family: 'Playfair Display', serif;
    color: #fff;
}


.cart-checkout h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
}
.cart-checkout p {
    text-align: center!important;

    font-size: 16px!important;
}
.cart-checkout .subtitle{
    padding-top: 10px!important;
}
#checkout .cart-checkout img {
    width: auto;
    height: 100px;
    margin: 0 auto;
    display: block;
    vertical-align: middle!important;
    margin-top: 20px;
    -webkit-transition:0.1s;
    transition:0.1s;
}
.cart-checkout img:hover {
    border: 5px solid #123C69;
    -webkit-transition:0.1s;
    transition:0.1s;
}
.check {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.check h1{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: #AC3B61;
    font-weight: bolder;
    text-align: center;

}
.check h2 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: #123c69;
}
.confirm {
    margin-top: 15px;
}
.faq {
    padding-top: 40px;
    color:#eee2dc;
    background-color: #AC3B61;
    font-family: 'Playfair Display', serif;
}
.faq h1 {
    font-size: 48px;
    font-weight: bolder;
}
.faq h2 {
    font-size: 18px;
    color: #eee2dc;
}
.question h2{
    font-size: 30px;
    color: #123C69;
    font-weight: bolder;
}
.question {
    border-bottom: 1px solid #edc7b7;
}
.question h3 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.question p {
    font-size: 16px;
}

.questions {
    background-color: #FFF;
    font-family: 'Playfair Display', serif;
}
.about {
    background-color: #AC3B61;
    padding-top: 30px;
}
.about .container {
    color:#eee2dc;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

.placeholder img{
    width: auto;
    height: 200px;
}
.placeholder {
    background-color: #FFF;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    padding-bottom: 35px;
    margin-top: 30px;
}
.placeholder h1 {
    font-size: 64px;
    color: #AC3B61;
    text-align: center;
}
.placeholder h2 {
    color: #123C69;
    font-size: 42px;
    font-weight: normal;
    padding-bottom: 5px;
    border-bottom: 1px solid #edc7b7;
    text-align: center;
}
.placeholder p {
    font-size: 16px;
    text-align: justify;
}
.placeholder img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.contact {
    background-color: #AC3B61;
    font-family: 'Playfair Display', serif;
    padding-top: 40px;
}
.contact h1 {
    font-size: 54px;
    color: #eee2dc;
    text-align: center;

}

.contact p {
    font-size: 16px;
    color: #eee2dc;
    text-align: center;

}
@media (max-width: 767px) {
    .sort p {
        visibility:hidden;
    }
}